@{
    ViewData["Title"] = "Insta Profile";
}
<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mt-5 mb-5">
            <div class="card-header">
                <img src="~/images/@ViewBag.theUser.background_img" alt="Background Image" class="card-img-top" style="width: 100%; height: 300px; margin: 0 auto;">
                <img src="~/images/@ViewBag.theUser.profile_img" alt="Profile Image" class="profile-img">
                <h1 class="card-title text-center">@ViewBag.theUser.first_name @ViewBag.theUser.last_name</h1>
            </div>
            <div class="card-body text-center">
                <p class="lead">Occupation: @ViewBag.theUser.occupation</p>
                <p class="lead">Location: @ViewBag.theUser.location</p>
                <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p>
                        <button class="btn btn-style" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Jobs
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @foreach (var j in ViewBag.jobs)
                            {
                                <hr>
                                <div class="job-container">
                                    <span>@j.job_title | @j.company -- @j.from_date.ToString("yyyy-MM-dd") - @j.to_date.ToString("yyyy-MM-dd")</span>
                                    <br>  
                                    <span><script>for(var i = 0; i < @j.job_rating; i++) {document.write('<i class="fas fa-star"></i>');}</script></span>
                                    <hr>
                                    <h3 class="text-center">Job Description</h3>
                                    <p class="text-center">@j.job_description</p>
                                    <hr>
                                    <h3 class="text-center">Skills</h3>
                                    <p class="text-center">@j.skills</p>
                                </div>
                                <hr>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p>
                        <button class="btn btn-style" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            Skills
                        </button>
                    </p>
                        <div class="collapse" id="collapse">
                        <div class="card card-body">
                            @foreach (var s in ViewBag.skills)
                            {
                                <hr>
                                <div class="job-container">
                                    <h1 class="text-center">@s.skill_title</h1>
                                    <br>  
                                    <span>Skill Level: <script>for(var i = 0; i < @s.skill_level; i++) {document.write('<i class="far fa-badge-check"></i>');}</script></span>
                                    <hr>
                                    <h3 class="text-center">Skill Description</h3>
                                    <p class="text-center">@s.skill_description</p>
                                </div>
                                <hr>
                            }
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 btn-group-profile">
        <span><a asp-action="AddProfile" asp-controller="Profile" class="btn-style btn btn-round btn-info"><i class="fal fa-plus-octagon"></i> Add Your Profile</a></span>
        <span><a href="@ViewBag.theUser.user_id/EditProfile" class="btn-style btn btn-round btn-info"><i class="far fa-edit"></i> Edit Your Profile</a></span>
        <span><a href="@ViewBag.theUser.user_id/AddJobToProfile" class="btn-style btn btn-round btn-info"><i class="fal fa-briefcase"></i> Add A Job To Your Profile</a></span>
        <span><a href="@ViewBag.theUser.user_id/AddSkillsToProfile" class="btn-style btn btn-round btn-info"><i class="far fa-list-alt"></i> Add A Skill To Your Profile</a></span>
    </div>
</div>
</div>