@{
    ViewData["Title"] = "InstaWorld";
}
<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card p-5 mt-3 mb-3">
            <div class="card-header text-center">
                <h1 class="card-title">@ViewData["Title"]</h1>
                <span><a href="ViewAllPhotos/@ViewBag.user.user_id" class="btn-style btn btn-round btn-info" style="margin: 0 auto; text-align: center;">View Your Photos</a></span>
                <span><a href="Profile/@ViewBag.user.user_id" class="btn-style btn btn-round btn-info" style="margin: 0 auto; text-align: center;">Profile</a></span>
                <span><a href="Messages/@ViewBag.user.user_id" class="btn-style btn btn-round btn-info" style="margin: 0 auto; text-align: center;">Messages</a></span>
                <div class="card-body">
                    <a asp-action="AddNewPhoto" asp-controller="Insta" class="btn-style btn btn-lg btn-block btn-round btn-info">Add A Pic?</a>
                        @foreach (var p in ViewBag.photos)
                        {
                            <div class="card p-3 mt-3">
                                <img src="~/images/@p.image" alt="@p.img_alt" class="card-img-top dashboard-img">
                                <div class="card-body text-center">
                                    <p class="card-text">@p.description</p>
                                </div>
                                <div class="card-footer text-center">
                                    <span><a href="LikeAPhoto/@p.photo_id" class="btn-style btn btn-info btn-round"><i class="fas fa-thumbs-up"></i> @p.Likes.Count</a></span>
                                    <span><a href="Comments/@p.photo_id" class="btn btn-success btn-round">Comment @p.Comments.Count</a></span>
                                    @if(ViewBag.user.user_id == p.User.user_id)
                                    {
                                        <span><a href="EditPhoto/@p.photo_id" class="btn btn-warning btn-round">Edit</a></span>
                                        <span><a href="DeletePhoto/@p.photo_id" class="btn btn-danger btn-round">Delete</a></span>
                                    }
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
</div>